body{
    background:lightgreen;
}

#introtekst{
    background-color:forestgreen;
    text-align:center;
    color: black;
    font: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:50px;
    padding:30px;
}
 p{
     font-family: monospace;

 }
#startersinformatie{
    background-color:aqua;
    color:black;
    font: 15px Arial Verdana;
        text-align:center;

}

#ingredienten{
        background-color:deeppink;
    color:black;
    font: 15px arial, sans-serif;
        text-align:center;
        width: 300px;


}
#keukenspullen{
        background-color:deeppink;
    color:black;
    font: 15px arial, sans-serif;
        text-align:center;
        width: 300px;


}
#bereidingswijzen{
        background-color:deeppink;
    color:black;
    font: 15px arial, sans-serif;
        text-align:center;


}

#footer{
    background-color:black;
        font: 15px arial, sans-serif;
    text-align:center;

    color:black;
}